<% prediction = predictions_by_match_id&.dig(match.id) %>

<% home_name = translated_team_name(match.home_team_name) %>
<% away_name = translated_team_name(match.away_team_name) %>

<div class="bracket-match-card">
  <div class="bracket-match-card__date">
    <span>
      <% if match.kickoff_at.present? %>
        <%= l(match.kickoff_at, format: :short) %>
        <span class="timezone-label">
          (<%= timezone_label %>)
        </span>
      <% else %>
        <%= t("matches.date_to_be_defined") %>
      <% end %>
    </span>

    <strong>
      <% if prediction.present? && match.finished? %>
        <%= prediction.points %> <%= t("dashboard.points_abbr") %>
      <% else %>
        - <%= t("dashboard.points_abbr") %>
      <% end %>
    </strong>
  </div>

  <div class="bracket-match-card__team">
    <div class="bracket-match-card__team-info">
      <%= image_tag match.home_team_flag_url,
          alt: home_name,
          class: "bracket-match-card__flag" %>

      <span><%= home_name %></span>
    </div>

    <div class="bracket-match-card__scores">
      <span title="<%= t("predictions.user_prediction") %>">
        <%= prediction&.home_score.present? ? prediction.home_score : "-" %>
      </span>

      <strong title="<%= t("matches.official_score") %>">
        <%= match.home_score.present? ? match.home_score : "-" %>
      </strong>
    </div>
  </div>

  <div class="bracket-match-card__team">
    <div class="bracket-match-card__team-info">
      <%= image_tag match.away_team_flag_url,
          alt: away_name,
          class: "bracket-match-card__flag" %>

      <span><%= away_name %></span>
    </div>

    <div class="bracket-match-card__scores">
      <span title="<%= t("predictions.user_prediction") %>">
        <%= prediction&.away_score.present? ? prediction.away_score : "-" %>
      </span>

      <strong title="<%= t("matches.official_score") %>">
        <%= match.away_score.present? ? match.away_score : "-" %>
      </strong>
    </div>
  </div>

  <div class="bracket-match-card__legend">
    <span><%= t("predictions.short_label") %></span>
    <strong><%= t("matches.official_short_label") %></strong>
  </div>
</div>
